# Copy this file to .env and fill in real values

# Server
PORT=3000

# Rista API (Enterprise Operations - App Testing Credentials)
RISTA_BASE_URL=https://api.ristaapps.com/v1
RISTA_API_KEY=73b5212e-aa1d-4ca0-9588-204359384389
RISTA_SECRET_KEY=TUE4F-INn2eCYQAHeLWqEF8s41vR4KDwtqJ0v5FYtR8
RISTA_BRANCH_CODE=HO

# Shopify
SHOPIFY_STORE=mycoffeeco.in
SHOPIFY_ACCESS_TOKEN=YOUR_SHOPIFY_ACCESS_TOKEN
SHOPIFY_WEBHOOK_SECRET=YOUR_SHOPIFY_WEBHOOK_SECRET
SHOPIFY_CALLBACK_URL=https://mycoffeeco-middleware-original.onrender.com/api/orders/callback

# Business
COMPANY_NAME=My Coffee Co
LOYALTY_PERCENTAGE=7

# Set to "true" during development/testing, "false" in production
MOCK_MODE=false

# PayU Payment Gateway Credentials
PAYU_KEY=gtK2Y
PAYU_SALT=eCwTWeB
PAYU_MODE=test # test or production
PUBLIC_URL=https://mycoffeeco-middleware-original.onrender.com
RISTA_CALLBACK_SECRET=mcc-rista-callback-2026
